.banner {
    width: 100%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-responsive {
    display: none;
}

.banner-desktop {
    display: block;
}

@media (max-width: 768px) {
    .banner-desktop {
        display: none;
    }
    .banner-responsive {
        display: block;
    }
}